<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter
    两个bean,是spring MVC为@Controllers分发请求所必须的 -->
    <mvc:annotation-driven/>

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.jielan.controller" />

    <!-- 启用默认配置 -->
    <mvc:annotation-driven>
        <!--responsebody 返回设置成urf-8-->
        <mvc:message-converters register-defaults="true">
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760" />
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/usermanager/*.do"/>
            <mvc:mapping path="/goods/*.do"/>
            <mvc:mapping path="/activity/*.do"/>
            <mvc:mapping path="/notice/*.do"/>
            <mvc:exclude-mapping path="/usermanager/tologin.do"/>
            <mvc:exclude-mapping path="/usermanager/dologin.do"/>
            <bean  class="com.jielan.intercepotor.AdminIntercepotor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>